body
{
	background: fuchsia;
}

.login_div_1 , .login_div_2
{
		background: lightsalmon;
		padding: 10px;
		float: none;
		border-radius: 15px;
	}


#name_1_input , #name_2_input
{
	display: inline-block;
	margin-left: 5px;
	margin-right: 5px;
}
#word
{
	width: 60%;
}
#word_display
{
	letter-spacing: 5px;
}
#output
{
background: white;
border-radius: 10px;
border-top: 10px solid blue;
padding: 10px;
float: none;
text-align: left;
}
